USE [master]
GO
/****** Object:  Database [QLTV]    Script Date: 4/24/2025 12:13:43 AM ******/
CREATE DATABASE [QLTV]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QLTV', FILENAME = N'D:\spl\QLTV.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QLTV_log', FILENAME = N'D:\spl\QLTV_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QLTV].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QLTV]
GO
/****** Object:  Table [dbo].[chitietmuontra]    Script Date: 4/24/2025 12:13:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[chitietmuontra](
	[maphieu] [int] NOT NULL,
	[masach] [int] NOT NULL,
	[soluong] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[maphieu] ASC,
	[masach] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[muontra]    Script Date: 4/24/2025 12:13:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[muontra](
	[maphieu] [int] NOT NULL,
	[manguoimuon] [varchar](100) NULL,
	[manhanvien] [int] NULL,
	[ngaymuon] [date] NULL,
	[ngaytra] [date] NULL,
	[sotongsach] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[maphieu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[nhanvien]    Script Date: 4/24/2025 12:13:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[nhanvien](
	[manhanvien] [int] NOT NULL,
	[hoten] [varchar](100) NOT NULL,
	[ngaysinh] [date] NULL,
	[chucvu] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[manhanvien] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[sach]    Script Date: 4/24/2025 12:13:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[sach](
	[masach] [int] NOT NULL,
	[tensach] [varchar](255) NOT NULL,
	[matacgia] [int] NULL,
	[matheloai] [int] NULL,
	[nhaxuatban] [varchar](100) NULL,
	[namxuatban] [int] NULL,
	[tentacgia_cache] [varchar](100) NULL,
	[tentheloai_cache] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[masach] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tacgia]    Script Date: 4/24/2025 12:13:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tacgia](
	[matacgia] [int] NOT NULL,
	[tentacgia] [varchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[matacgia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[theloai]    Script Date: 4/24/2025 12:13:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[theloai](
	[matheloai] [int] NOT NULL,
	[tentheloai] [varchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[matheloai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[chitietmuontra] ADD  DEFAULT ((1)) FOR [soluong]
GO
ALTER TABLE [dbo].[muontra] ADD  DEFAULT ((0)) FOR [sotongsach]
GO
ALTER TABLE [dbo].[chitietmuontra]  WITH CHECK ADD  CONSTRAINT [FK__chitietmu__maphi] FOREIGN KEY([maphieu])
REFERENCES [dbo].[muontra] ([maphieu])
GO
ALTER TABLE [dbo].[chitietmuontra] CHECK CONSTRAINT [FK__chitietmu__maphi]
GO
ALTER TABLE [dbo].[chitietmuontra]  WITH CHECK ADD  CONSTRAINT [FK__chitietmu__masac] FOREIGN KEY([masach])
REFERENCES [dbo].[sach] ([masach])
GO
ALTER TABLE [dbo].[chitietmuontra] CHECK CONSTRAINT [FK__chitietmu__masac]
GO
ALTER TABLE [dbo].[muontra]  WITH CHECK ADD  CONSTRAINT [FK__muontra__manhanv] FOREIGN KEY([manhanvien])
REFERENCES [dbo].[nhanvien] ([manhanvien])
GO
ALTER TABLE [dbo].[muontra] CHECK CONSTRAINT [FK__muontra__manhanv]
GO
ALTER TABLE [dbo].[sach]  WITH CHECK ADD  CONSTRAINT [FK__sach__matacgia] FOREIGN KEY([matacgia])
REFERENCES [dbo].[tacgia] ([matacgia])
GO
ALTER TABLE [dbo].[sach] CHECK CONSTRAINT [FK__sach__matacgia]
GO
ALTER TABLE [dbo].[sach]  WITH CHECK ADD  CONSTRAINT [FK__sach__matheloai] FOREIGN KEY([matheloai])
REFERENCES [dbo].[theloai] ([matheloai])
GO
ALTER TABLE [dbo].[sach] CHECK CONSTRAINT [FK__sach__matheloai]
GO
USE [master]
GO
